    # Practical 1: Data Collection,Modelling and Compliation

In [2]:
my_dict={'Name':["a","b","c","d","e","f","g"],
         'age':[20,27,35,45,55,43,35],
         'designation':["VP","CEO","CFO","VP","VP","CEO","MD"]
        }

import pandas as pd
import numpy as np
df=pd.DataFrame(my_dict)
df

  Name  age designation
0    a   20          VP
1    b   27         CEO
2    c   35         CFO
3    d   45          VP
4    e   55          VP
5    f   43         CEO
6    g   35          MD

In [3]:
df.to_csv('Csv example')
df

  Name  age designation
0    a   20          VP
1    b   27         CEO
2    c   35         CFO
3    d   45          VP
4    e   55          VP
5    f   43         CEO
6    g   35          MD

In [4]:
df_csv=pd.read_csv('Csv example')
df_csv

   Unnamed: 0 Name  age designation
0           0    a   20          VP
1           1    b   27         CEO
2           2    c   35         CFO
3           3    d   45          VP
4           4    e   55          VP
5           5    f   43         CEO
6           6    g   35          MD

In [6]:
df.to_csv('Csv example',index=False)
df_csv=pd.read_csv('Csv example')
df_csv

  Name  age designation
0    a   20          VP
1    b   27         CEO
2    c   35         CFO
3    d   45          VP
4    e   55          VP
5    f   43         CEO
6    g   35          MD

In [39]:
import pandas as pd
import os
working_directory = os.getcwd()
print(working_directory)
Location=working_directory+"/Desktop/Ajay/Msc/FDS/student-mat.csv.xls"
df = pd.read_csv(Location,header=None)
df.head()

C:\Users\RISHI

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\RISHI/Desktop/Ajay/Msc/FDS/student-mat.csv.xls'

In [1]:
import pandas as pd
names = ['Bob', 'Rio', 'Joy', 'Larry', 'Riks']
grades = [76, 95, 65, 66, 45]
GradeList = zip(names, grades)
df = pd.DataFrame(data = GradeList,columns = ['Names', 'Grades'])

writer = pd.ExcelWriter('dataframe.xlsx', engine='xlswriter')
df.to_excel(writer, sheet_name='sheet1')
writer.save()

ValueError: No Excel writer 'xlswriter'